:root {
    --myyellow: #F9BA32;
    --mysteel: #2F3131;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: var(--mysteel);
  text-align: left;
}

img {
    margin: 40px;
}

html, body {
  height: 100%;
}

h1 {
    color: var(--myyellow);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2 {
    margin: 0px 50px;
}

p, label, h2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
}

/* For the buttons */
.button {
    background-color:var(--mysteel);
    padding: 15px 32px;
    text-align: center;
    border: 2px solid white;
    color: white;
    border-radius: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--myyellow);
  border-color: var(--myyellow);
  color: white;
}

/* Create 2 equal columns that float next to each other */
.column {
  float: left;
  width: 50%;
  height: 100%;
}

.row {
    height: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* For the nav bar*/
ul {
  list-style-type: none;
  margin: 0px;
  border: 0px;
  padding: 10px;
  background-color:var(--myyellow); 
}

li {
    display: inline;
}

a.navbar{
    display: inline;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition-duration:  0.4s;
}

a:hover {
  background-color: #bf932c; /* dark yellow */
}

/* For the comments */
.comment-zone {
    border: 2px solid var(--myyellow);
}