#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: #2F3131;
  text-align: left;
}

h1 {
    color:#F9BA32;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2 {
    color: #F8F1E5;
    margin: 0px 50px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

img {
    margin: 40px;
}

p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
}

/* For the buttons */
.button {
    background-color: #2F3131;
    padding: 15px 32px;
    text-align: center;
    border: 2px solid #F8F1E5;
    color: white;
    border-radius: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.button:hover {
  background-color: #F9BA32;
  border-color: #F9BA32;
  color: white;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* For the nav bar*/
ul {
  list-style-type: none;
  margin: 0px;
  border: 0px;
  padding: 10px;
  background-color: #F9BA32; 
  }

li {
    display: inline;
}

a.navbar{
    display: inline;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition-duration:  0.4s;
}

a:hover {
  background-color: #bf932c;
}