.tooltip {
  position: fixed;
  display: block;

  padding: 10px;

  background-color: rgba(240, 240, 240, 0.8);
  border: 1px solid black;
  border-radius: 3px;

  color: black;
}

.h3 {
  margin: 2px;
}
