<!-- TODO(#219): add time range form -->
<button (click)="rangeShift(-WEEK_SECONDS / 2)">time</button>
<div *ngIf="envJson">
  <app-environment
    *ngFor="let environment of environments"
    [environment]="environment"
    [svgWidth]="envWidth"
    [svgHeight]="envHeight"
    [startTimestamp]="startTimestamp"
    [endTimestamp]="endTimestamp"
    [timelinePoints]="timelinePoints"
  >
  </app-environment>
</div>
<div *ngIf="!envJson">
  No input data found. <a [routerLink]="['/form']">Submit data</a>.
</div>
