/*
 * Copyright 2020 Google LLC.
 * SPDX-License-Identifier: Apache-2.0
 */

* {
  font-family: Roboto, Arial, sans-serif;
  -webkit-user-select: none;
}

#reset {
  margin-left: 8px;
}

.invalid-timerange {
  border-color: red !important;
}

#bottom-timeline, #top-timeline {
  position: absolute;
}

#colorblind {
  margin-left: 10px;
}
