<div *ngIf="dataFound">
  <div class="timerange">
    <input
      type="datetime-local"
      [attr.value]="getISOString(startTimestamp)"
      [attr.min]="getISOString(minTimestamp)"
      [attr.max]="getISOString(endTimestamp)"
      (input)="onStartTimestampChange($event)"
    >
    &mdash;
    <input
      type="datetime-local"
      [attr.value]="getISOString(endTimestamp)"
      [attr.min]="getISOString(startTimestamp)"
      [attr.max]="getISOString(maxTimestamp)"
      (input)="onEndTimestampChange($event)"
    >
  </div>
  <app-environment
    *ngFor="let environment of environments"
    [environment]="environment"
    [svgWidth]="envWidth"
    [svgHeight]="envHeight"
    [startTimestamp]="startTimestamp"
    [endTimestamp]="endTimestamp"
    [timelinePoints]="timelinePoints"
  >
  </app-environment>
</div>
<div *ngIf="!dataFound">
  No input data found. <a [routerLink]="['/form']">Submit data</a>.
</div>
