#content {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

#quote-container {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
}

h1 {
    text-align: center;
    background-color: lightcoral;
    color: white;
}

p {
    font-family: "Lucida Console", Courier, monospace;
}

h3 {
    text-decoration: underline;
    text-align: center;
}

#introduction {
    background-color: lightgrey;
    width: 700px;
    border-style: solid;
    border-color: lightcoral;
    border-width: 5px;
    padding: 20px;
    position: relative;
    right: 370px;
}

#randomQuote {
    text-align: center;
    background-color: lightgrey;
    height: 145px;
    width: 400px;
    border-style: solid;
    border-color: lightcoral;
    border-width: 5px;
    padding: 20px;
    position: relative;
    top: -195px;
    left: 480px;
}

#LinkedInLink {
    color: lightcoral;
    -webkit-text-stroke: 0.5px black;
}

#GithubLink {
    display: inline;
    padding-left: 20px;
    color: lightcoral;
    -webkit-text-stroke: 0.5px black;
}

#email {
    padding-left: 20px;
    color: lightcoral;
    -webkit-text-stroke: 0.5px black;
}

#links {
    text-align: center;
    background-color: lightgray;
    border-style: solid;
    border-color: lightcoral;
    border-width: 5px;
    padding: 20px;
    position: relative;
    top: -150px;
    right: 370px;
    width: 700px;
}

#linksTitle {
    font-weight: bold;
}

#projects {
    background-color: lightgrey;
    border-style: solid;
    border-color: lightcoral;
    border-width: 5px;
    padding: 20px;
    position: relative;
    top: -300px;
    left: 480px;
    width: 300px;
}

#Sasha {
    background-color: lightgrey;
    border-style: solid;
    border-width: 5px;
    border-color: lightcoral;
    padding: 20px;
    position: relative;
    top: -280px;
}

#pictures {
    display: inline;
    position: relative;
    padding-left: 20px;
    top: -100px;
}

img.resize {
  max-width:30%;
  max-height:30%;
}


