#quote-container {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
}

h1 {
    text-align: center;
    background-color: lightcoral;
    color: white;
    border-style: none;
    display: flex;
    flex-direction: column;
}

p {
    font-family: "Lucida Console", Courier, monospace;
}

h3 {
    text-decoration: underline;
    text-align: center;
}

#introduction {
    text-align: center;
    background-color: lightgrey;
    border-style: solid;
    border-color: lightcoral;
    border-width: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#second-row {
    display: flex;
    flex-direction: row;
}

#buttonQuote {
    cursor: pointer;
    font-size: 25px;
    background-color: lightcoral;
    color: whitesmoke
}

#randomQuote {
    text-align: center;
    background-color: lightgrey;
    border-style: solid;
    border-color: lightcoral;
    border-width: 5px;
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

#LinkedInLink {
    color: lightcoral;
    -webkit-text-stroke: 0.5px black;
}

#GithubLink {
    padding-left: 20px;
    color: lightcoral;
    -webkit-text-stroke: 0.5px black;
}

#email {
    padding-left: 20px;
    color: lightcoral;
    -webkit-text-stroke: 0.5px black;
}

#links {
    text-align: center;
    background-color: lightgray;
    border-style: solid;
    border-color: lightcoral;
    border-width: 5px;
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

#linksTitle {
    font-weight: bold;
}

#links-images {
    display: flex;
    flex-direction: row;
}

#projects {
    background-color: lightgrey;
    border-style: solid;
    border-color: lightcoral;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 25%;
    display: flex;
}

#guessAge {
    text-align: center;
    background-color: lightgray;
    border-style: solid;
    border-width: 5px;
    border-color: lightcoral;
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    font-family: "Lucida Console", Courier, monospace;
}

#age-container {
    margin-top: 20px:
}

#third-row{
    display: flex;
    flex-direction: row;
}

#mood {
    text-align: center;
    background-color: lightgray;
    border-style: solid;
    border-width: 5px;
    border-color: lightcoral;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.feel {
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 25px;
    width: 100px;
    background-color: lightcoral;
    color: whitesmoke
}

#Sasha {
    background-color: lightgrey;
    border-style: solid;
    border-width: 5px;
    border-color: lightcoral;
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 25%;
}

#pictures-text {
    text-align: center;
    padding-left: 50px;
    padding-top: 65px;
}


#feel-container {
    padding-top: 30px;
    margin-top: 20px;
    font-size: 25px;
}

img.resize {
  max-width: 200px;
  max-height: auto;
}

.gallery {
    max-height: 30%;
    max-width: 30%;
}


